body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.itemImg {
    width: 115px;
    height: 103px;
}

.containerImage {
    display: flex;
    justify-content: center;
}

.containerPrice {
    display: flex;
    justify-content: center;
}

.containerButtons {
    display: flex;
    justify-content: space-between;
}
